<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lb.yiimgo.storenote">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="lb.yiimgo.storenote.ViewPager.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

          </activity>
        <activity android:name="lb.yiimgo.storenote.ViewPager.BoardActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name="lb.yiimgo.storenote.ViewPager.Service.ServiceBase"
            android:label="@string/create_title"
            android:parentActivityName="lb.yiimgo.storenote.ViewPager.BoardActivity"/>
        <activity android:name="lb.yiimgo.storenote.ViewPager.Room.RoomBase"
            android:label="@string/create_room_title"
            android:parentActivityName="lb.yiimgo.storenote.ViewPager.BoardActivity"/>
        <activity android:name="lb.yiimgo.storenote.ViewPager.ServiceActivity"></activity>
        <activity android:name="lb.yiimgo.storenote.ViewPager.UserActivity"></activity>
    </application>

</manifest>